<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
  <head>
    <meta name="google" content="notranslate">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="GMX Decentralized Perpetual Exchange">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>6.96 | UNIUSD | Decentralized Perpetual Exchange | GMX</title>
    <link href="https://app.gmx.io/static/css/2.cc7f35df.chunk.css" rel="stylesheet">
    <link href="https://app.gmx.io/static/css/main.90c1db7a.chunk.css" rel="stylesheet">
    <style id="_goober">
      @keyframes go2264125279 {
        from {
          transform: scale(0) rotate(45deg);
          opacity: 0;
        }

        to {
          transform: scale(1) rotate(45deg);
          opacity: 1;
        }
      }

      @keyframes go3020080000 {
        from {
          transform: scale(0);
          opacity: 0;
        }

        to {
          transform: scale(1);
          opacity: 1;
        }
      }

      @keyframes go463499852 {
        from {
          transform: scale(0) rotate(90deg);
          opacity: 0;
        }

        to {
          transform: scale(1) rotate(90deg);
          opacity: 1;
        }
      }

      @keyframes go1268368563 {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }

      @keyframes go1310225428 {
        from {
          transform: scale(0) rotate(45deg);
          opacity: 0;
        }

        to {
          transform: scale(1) rotate(45deg);
          opacity: 1;
        }
      }

      @keyframes go651618207 {
        0% {
          height: 0;
          width: 0;
          opacity: 0;
        }

        40% {
          height: 0;
          width: 6px;
          opacity: 1;
        }

        100% {
          opacity: 1;
          height: 10px;
        }
      }

      @keyframes go901347462 {
        from {
          transform: scale(0.6);
          opacity: 0.4;
        }

        to {
          transform: scale(1);
          opacity: 1;
        }
      }

      .go4109123758 {
        z-index: 9999;
      }

      .go4109123758>* {
        pointer-events: auto;
      }
    </style>
    <meta name="robots" content="follow, index" data-react-helmet="true">
    <meta content="Trade spot or perpetual BTC, ETH, AVAX and other top cryptocurrencies with up to 50x leverage directly from your wallet on Arbitrum and Avalanche." name="description" data-react-helmet="true">
    <meta property="og:type" content="exchange" data-react-helmet="true">
    <meta property="og:site_name" content="GMX" data-react-helmet="true">
    <meta property="og:description" content="Trade spot or perpetual BTC, ETH, AVAX and other top cryptocurrencies with up to 50x leverage directly from your wallet on Arbitrum and Avalanche." data-react-helmet="true">
    <meta property="og:title" content="GMX | Decentralized Perpetual Exchange" data-react-helmet="true">
    <meta property="og:image" content="https://gmx.io/og.png" data-react-helmet="true">
    <meta name="twitter:card" content="summary_large_image" data-react-helmet="true">
    <meta name="twitter:site" content="@gmx_io" data-react-helmet="true">
    <meta name="twitter:title" content="GMX | Decentralized Perpetual Exchange" data-react-helmet="true">
    <meta name="twitter:description" content="Trade spot or perpetual BTC, ETH, AVAX and other top cryptocurrencies with up to 50x leverage directly from your wallet on Arbitrum and Avalanche." data-react-helmet="true">
    <meta name="twitter:image" content="https://gmx.io/og.png" data-react-helmet="true">
    <script charset="utf-8" src="https://app.gmx.io/static/js/5.68cac123.chunk.js"></script>
    <link rel="stylesheet" href="/static/dist/css/make.css" />
    <link rel="stylesheet" href="/static/dist/css/general.css" />
    <script src="/static/dist/js/modules/react.production.min.js"></script>
      <script src="/static/dist/js/modules/react-dom.production.min.js"></script>
      <script src="/static/dist/js/modules/babel.min.js"></script>
  </head>
  <body style="overflow: unset;">
    
    <div id="root">
      <div class="App">
        <div class="App-content">
          <header>
            <div class="App-header large">
              <div class="App-header-container-left">
                <a class="App-header-link-main" href="#/">
                  <img src="https://superverse.cool/favicon.svg" class="big" alt="GMX Logo">
                  <img src="https://superverse.cool/favicon.svg" class="small" alt="GMX Logo">
                </a>
                <div class="App-header-links">
                  <div class="App-header-link-container">
                    <a class="" href="#/dashboard">Dashboard</a>
                  </div>
                  <div class="App-header-link-container">
                    <a class="" href="#/earn">Earn</a>
                  </div>
                  <div class="App-header-link-container">
                    <a class="" href="#/buy">Buy</a>
                  </div>
                  <div class="App-header-link-container">
                    <a class="" href="#/referrals">Referrals</a>
                  </div>
                  <div class="App-header-link-container">
                    <a class="" href="#/ecosystem">Ecosystem</a>
                  </div>
                  <div class="App-header-link-container">
                    <a href="https://gmxio.gitbook.io/gmx/" class="link-underline" target="_blank" rel="noopener noreferrer">Docs</a>
                  </div>
                </div>
              </div>
              <div class="App-header-container-right">
                <div class="App-header-user">
                  <div class="App-header-trade-link">
                    <a aria-current="page" class="default-btn active" href="#/trade">Trade</a>
                  </div>
                  <li class="nav-item">
                    <div id="root">
                      <div>
                        <div id="sign-block"></div>
                      </div>
                    </div>
                  </li>
                  <div class="App-header-network">
                    <div class="network-dropdown" id="headlessui-menu-button-1" aria-haspopup="true" aria-expanded="false">
                      <button class="transparent">
                        <img class="network-dropdown-icon" src="https://gmx.io/static/media/ic_arbitrum_24.21ec7bfe.svg" alt="Arbitrum">
                      </button>
                      <div class="network-dropdown-seperator"></div>
                      <button class="transparent">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" color="white" height="20" width="20" xmlns="http://www.w3.org/2000/svg" style="color: white;">
                          <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="App-header small">
              <div class="App-header-link-container App-header-top">
                <div class="App-header-container-left">
                  <div class="App-header-menu-icon-block">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="App-header-menu-icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"></path>
                      </g>
                    </svg>
                  </div>
                  <div class="App-header-link-main clickable">
                    <img src="https://gmx.io/static/media/logo_GMX.b956aa96.svg" class="big" alt="GMX Logo">
                    <img src="https://gmx.io/static/media/logo_GMX_small.f593fa5c.svg" class="small" alt="GMX Logo">
                  </div>
                </div>
                <div class="App-header-container-right">
                  <div class="App-header-user">
                    <div class="App-header-trade-link">
                      <a aria-current="page" class="default-btn active" href="#/trade">Trade</a>
                    </div>
                    <button class="connect-wallet-btn">
                      <img class="btn-icon" src="https://gmx.io/static/media/ic_wallet_24.a19a6758.svg" alt="Connect Wallet">
                      <span class="btn-label">Connect</span>
                    </button>
                    <div class="App-header-network">
                      <div class="network-dropdown">
                        <button class="transparent">
                          <img class="network-dropdown-icon" src="https://gmx.io/static/media/ic_arbitrum_24.21ec7bfe.svg" alt="Arbitrum">
                        </button>
                        <div class="network-dropdown-seperator"></div>
                        <button class="transparent">
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" color="white" height="20" width="20" xmlns="http://www.w3.org/2000/svg" style="color: white;">
                            <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="Exchange page-layout">
            <div class="Exchange-content">
              <div class="Exchange-left">
                <div class="ExchangeChart tv">
                  <div class="ExchangeChart-top App-box App-box-border">
                    <div class="ExchangeChart-top-inner">
                      <div>
                        <div class="ExchangeChart-title">
                          <div id="headlessui-menu-button-3" aria-haspopup="true" aria-expanded="false">
                            <button class="App-cta small transparent chart-token-selector">
                              <span class="chart-token-selector--current">UNI / USD</span>
                              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                              </svg>
                            </button>
                          </div>
                          <div class="chart-token-menu"></div>
                        </div>
                      </div>
                      <div>
                        <div class="ExchangeChart-main-price">6.96</div>
                        <div class="ExchangeChart-info-label">$6.96</div>
                      </div>
                      <div>
                        <div class="ExchangeChart-info-label">24h Change</div>
                        <div class="positive">+4.27%</div>
                      </div>
                      <div class="ExchangeChart-additional-info">
                        <div class="ExchangeChart-info-label">24h High</div>
                        <div>6.97</div>
                      </div>
                      <div class="ExchangeChart-additional-info">
                        <div class="ExchangeChart-info-label">24h Low</div>
                        <div>6.55</div>
                      </div>
                    </div>
                  </div>
                  <div class="ExchangeChart-bottom App-box App-box-border">
                    <div class="ExchangeChart-bottom-header">
                      <div class="ExchangeChart-bottom-controls">
                        <div class="Tab block">
                          <div class="Tab-option muted">5m</div>
                          <div class="Tab-option muted">15m</div>
                          <div class="Tab-option muted">1h</div>
                          <div class="Tab-option muted active">4h</div>
                          <div class="Tab-option muted">1d</div>
                        </div>
                      </div>
                      <div class="ExchangeChart-bottom-stats positive length-1">
                        <span class="ExchangeChart-bottom-stats-label">O</span>
                        <span class="ExchangeChart-bottom-stats-value">6.92</span>
                        <span class="ExchangeChart-bottom-stats-label">H</span>
                        <span class="ExchangeChart-bottom-stats-value">6.97</span>
                        <span class="ExchangeChart-bottom-stats-label">L</span>
                        <span class="ExchangeChart-bottom-stats-value">6.96</span>
                        <span class="ExchangeChart-bottom-stats-label">C</span>
                        <span class="ExchangeChart-bottom-stats-value">6.96</span>
                      </div>
                    </div>
                    <div class="ExchangeChart-bottom-content">
                      <div class="tv-lightweight-charts" style="overflow: hidden; width: 343px; height: 269px; user-select: none; -webkit-tap-highlight-color: transparent;">
                        <table cellspacing="0" style="height: 269px; width: 343px;">
                          <tr>
                            <td style="padding: 0px;"></td>
                            <td style="padding: 0px; position: relative; width: 301px; height: 243px;">
                              <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                <canvas width="602" height="486" style="width: 301px; height: 243px; position: absolute; z-index: 1; left: 0px; top: 0px;"></canvas>
                                <canvas width="602" height="486" style="width: 301px; height: 243px; position: absolute; z-index: 2; left: 0px; top: 0px;"></canvas>
                              </div>
                            </td>
                            <td style="padding: 0px;">
                              <div style="height: 243px; overflow: hidden; width: 42px; left: 0px; position: relative; min-width: 42px;">
                                <canvas width="84" height="486" style="width: 42px; height: 243px; position: absolute; z-index: 1; left: 0px; top: 0px;"></canvas>
                                <canvas width="84" height="486" style="width: 42px; height: 243px; position: absolute; z-index: 2; left: 0px; top: 0px;"></canvas>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 0px;"></td>
                            <td style="height: 26px; padding: 0px; width: 301px;">
                              <div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                <canvas width="602" height="52" style="width: 301px; height: 26px; position: absolute; z-index: 1; left: 0px; top: 0px;"></canvas>
                                <canvas width="602" height="52" style="width: 301px; height: 26px; position: absolute; z-index: 2; left: 0px; top: 0px;"></canvas>
                              </div>
                            </td>
                            <td style="padding: 0px;">
                              <div style="width: 42px; height: 26px; overflow: hidden; min-width: 42px;">
                                <canvas width="84" height="52" style="width: 42px; height: 26px;"></canvas>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Exchange-lists large">
                  <div>
                    <div class="Exchange-list-tab-container">
                      <div class="Tab inline Exchange-list-tabs">
                        <div class="Tab-option muted active">Positions</div>
                        <div class="Tab-option muted">Orders</div>
                        <div class="Tab-option muted">Trades</div>
                      </div>
                      <div class="align-right Exchange-should-show-position-lines">
                        <div class="Checkbox muted chart-positions">
                          <span class="Checkbox-icon-wrapper">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16" class="App-icon Checkbox-icon inactive" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path d="M14 0h-12c-1.1 0-2 0.9-2 2v12c0 1.1 0.9 2 2 2h12c1.1 0 2-0.9 2-2v-12c0-1.1-0.9-2-2-2zM14 14h-12v-12h12v12z"></path>
                            </svg>
                          </span>
                          <span class="Checkbox-label">
                            <span>Chart positions</span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="PositionsList">
                      <div class="PositionEditor"></div>
                      <div class="Exchange-list small">
                        <div>
                          <div class="Exchange-empty-positions-list-note App-card">No open positions</div>
                        </div>
                      </div>
                      <table class="Exchange-list large App-box">
                        <tbody>
                          <tr class="Exchange-list-header">
                            <th>Position</th>
                            <th>Net Value</th>
                            <th>Size</th>
                            <th>Collateral</th>
                            <th>Mark Price</th>
                            <th>Entry Price</th>
                            <th>Liq. Price</th>
                            <th></th>
                            <th></th>
                          </tr>
                          <tr>
                            <td colspan="15">
                              <div class="Exchange-empty-positions-list-note">No open positions</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Exchange-right">
                <div class="Exchange-swap-box">
                  <div class="Exchange-swap-box-inner App-box-highlight">
                    <div>
                      <div class="Tab block Exchange-swap-option-tabs">
                        <div class="Tab-option muted active">
                          <img class="Tab-option-icon" src="https://gmx.io/static/media/long.0bc4a064.svg" alt="Long">Long
                        </div>
                        <div class="Tab-option muted">
                          <img class="Tab-option-icon" src="https://gmx.io/static/media/short.1f94a0c2.svg" alt="Long">Short
                        </div>
                        <div class="Tab-option muted">
                          <img class="Tab-option-icon" src="https://gmx.io/static/media/swap.40fb8e49.svg" alt="Long">Swap
                        </div>
                      </div>
                      <div class="Tab inline Exchange-swap-order-type-tabs">
                        <div class="Tab-option muted active">Market</div>
                        <div class="Tab-option muted">Limit</div>
                        <div class="Tab-option muted">Trigger</div>
                      </div>
                    </div>
                    <div class="Exchange-swap-section">
                      <div class="Exchange-swap-section-top">
                        <div class="muted">Pay</div>
                      </div>
                      <div class="Exchange-swap-section-bottom">
                        <div class="Exchange-swap-input-container">
                          <input type="number" min="0" placeholder="0.0" class="Exchange-swap-input" value="">
                        </div>
                        <div>
                          <div class="TokenSelector">
                            <div class="TokenSelector-box">ETH <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="TokenSelector-caret" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Exchange-swap-ball-container">
                      <div class="Exchange-swap-ball">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="Exchange-swap-ball-icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                          <path d="M131.3 231.1L32 330.6l99.3 99.4v-74.6h174.5v-49.7H131.3v-74.6zM480 181.4L380.7 82v74.6H206.2v49.7h174.5v74.6l99.3-99.5z"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="Exchange-swap-section">
                      <div class="Exchange-swap-section-top">
                        <div class="muted">Long</div>
                        <div class="muted align-right">Leverage: 2.00x</div>
                      </div>
                      <div class="Exchange-swap-section-bottom">
                        <div>
                          <input type="number" min="0" placeholder="0.0" class="Exchange-swap-input" value="">
                        </div>
                        <div>
                          <div class="TokenSelector">
                            <div class="TokenSelector-box">UNI <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="TokenSelector-caret" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Exchange-leverage-box">
                      <div class="Exchange-leverage-slider-settings">
                        <div class="Checkbox selected">
                          <span class="Checkbox-icon-wrapper">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16" class="App-icon Checkbox-icon active" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                              <path d="M14 0h-12c-1.1 0-2 0.9-2 2v12c0 1.1 0.9 2 2 2h12c1.1 0 2-0.9 2-2v-12c0-1.1-0.9-2-2-2zM7 12.414l-3.707-3.707 1.414-1.414 2.293 2.293 4.793-4.793 1.414 1.414-6.207 6.207z"></path>
                            </svg>
                          </span>
                          <span class="Checkbox-label">
                            <span class="muted">Leverage slider</span>
                          </span>
                        </div>
                      </div>
                      <div class="Exchange-leverage-slider App-slider positive">
                        <div class="rc-slider rc-slider-with-marks">
                          <div class="rc-slider-rail"></div>
                          <div class="rc-slider-track" style="left: 0%; right: auto; width: 1.84049%;"></div>
                          <div class="rc-slider-step">
                            <span class="rc-slider-dot rc-slider-dot-active" style="left: 1.84049%;"></span>
                            <span class="rc-slider-dot" style="left: 7.97546%;"></span>
                            <span class="rc-slider-dot" style="left: 18.2004%;"></span>
                            <span class="rc-slider-dot" style="left: 28.4254%;"></span>
                            <span class="rc-slider-dot" style="left: 38.6503%;"></span>
                            <span class="rc-slider-dot" style="left: 48.8753%;"></span>
                            <span class="rc-slider-dot" style="left: 59.1002%;"></span>
                            <span class="rc-slider-dot" style="left: 69.3252%;"></span>
                            <span class="rc-slider-dot" style="left: 79.5501%;"></span>
                            <span class="rc-slider-dot" style="left: 89.7751%;"></span>
                            <span class="rc-slider-dot" style="left: 100%;"></span>
                          </div>
                          <div tabindex="0" class="rc-slider-handle" role="slider" aria-valuemin="1.1" aria-valuemax="50" aria-valuenow="2" aria-disabled="false" style="left: 1.84049%; right: auto; transform: translateX(-50%);"></div>
                          <div class="rc-slider-mark">
                            <span class="rc-slider-mark-text rc-slider-mark-text-active" style="transform: translateX(-50%); left: 1.84049%;">2x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 7.97546%;">5x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 18.2004%;">10x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 28.4254%;">15x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 38.6503%;">20x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 48.8753%;">25x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 59.1002%;">30x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 69.3252%;">35x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 79.5501%;">40x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 89.7751%;">45x</span>
                            <span class="rc-slider-mark-text" style="transform: translateX(-50%); left: 100%;">50x</span>
                          </div>
                        </div>
                      </div>
                      <div class="Exchange-info-row">
                        <div class="Exchange-info-label">Collateral In</div>
                        <div class="align-right">
                          <span class="Tooltip">
                            <span class="Tooltip-handle">USD</span>
                          </span>
                        </div>
                      </div>
                      <div class="Exchange-info-row">
                        <div class="Exchange-info-label">Leverage</div>
                        <div class="align-right">-</div>
                      </div>
                      <div class="Exchange-info-row">
                        <div class="Exchange-info-label">Entry Price</div>
                        <div class="align-right">$6.96</div>
                      </div>
                      <div class="Exchange-info-row">
                        <div class="Exchange-info-label">Liq. Price</div>
                        <div class="align-right">-</div>
                      </div>
                      <div class="Exchange-info-row">
                        <div class="Exchange-info-label">Fees</div>
                        <div class="align-right ">
                          <div>-</div>
                        </div>
                      </div>
                    </div>
                    <div class="Exchange-swap-button-container">
                      <button class="App-cta Exchange-swap-button">Connect Wallet</button>
                    </div>
                  </div>
                  <div class="Exchange-swap-market-box App-box App-box-border">
                    <div class="Exchange-swap-market-box-title">Long&nbsp;UNI</div>
                    <div class="App-card-divider"></div>
                    <div class="Exchange-info-row">
                      <div class="Exchange-info-label">Entry Price</div>
                      <div class="align-right">
                        <span class="Tooltip">
                          <span class="Tooltip-handle">$6.96</span>
                        </span>
                      </div>
                    </div>
                    <div class="Exchange-info-row">
                      <div class="Exchange-info-label">Exit Price</div>
                      <div class="align-right">
                        <span class="Tooltip">
                          <span class="Tooltip-handle">$6.96</span>
                        </span>
                      </div>
                    </div>
                    <div class="Exchange-info-row">
                      <div class="Exchange-info-label">Borrow Fee</div>
                      <div class="align-right">
                        <span class="Tooltip">
                          <span class="Tooltip-handle">0.0015% / 1h</span>
                        </span>
                      </div>
                    </div>
                    <div class="Exchange-info-row">
                      <div class="Exchange-info-label">Available Liquidity</div>
                      <div class="align-right">
                        <span class="Tooltip">
                          <span class="Tooltip-handle">$3,947.30</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="Exchange-swap-market-box App-box App-box-border">
                    <div class="Exchange-swap-market-box-title">Useful Links</div>
                    <div class="App-card-divider"></div>
                    <div class="Exchange-info-row">
                      <div class="Exchange-info-label-button">
                        <a href="https://gmxio.gitbook.io/gmx/trading" class="link-underline" target="_blank" rel="noopener noreferrer">Trading guide</a>
                      </div>
                    </div>
                    <div class="Exchange-info-row">
                      <div class="Exchange-info-label-button">
                        <a href="https://www.gmx.house/arbitrum/leaderboard" class="link-underline" target="_blank" rel="noopener noreferrer">Leaderboard</a>
                      </div>
                    </div>
                    <div class="Exchange-info-row">
                      <div class="Exchange-info-label-button">
                        <a href="https://gmxio.gitbook.io/gmx/trading#backup-rpc-urls" class="link-underline" target="_blank" rel="noopener noreferrer">Speed up page loading</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Exchange-wallet-tokens">
                  <div class="Exchange-wallet-tokens-content">
                    <div class="ExchangeWalletTokens App-box">
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>ETH</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">Ethereum</div>
                        </div>
                      </div>
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>WETH</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">Wrapped Ethereum</div>
                        </div>
                      </div>
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>BTC</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">Bitcoin (WBTC)</div>
                        </div>
                      </div>
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>LINK</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">Chainlink</div>
                        </div>
                      </div>
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>UNI</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">Uniswap</div>
                        </div>
                      </div>
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>USDC</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">USD Coin</div>
                        </div>
                      </div>
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>USDT</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">Tether</div>
                        </div>
                      </div>
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>DAI</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">Dai</div>
                        </div>
                      </div>
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>FRAX</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">Frax</div>
                        </div>
                      </div>
                      <div class="ExchangeWalletTokens-token-row">
                        <div class="ExchangeWalletTokens-top-row">
                          <div>MIM</div>
                        </div>
                        <div class="ExchangeWalletTokens-content-row">
                          <div class="ExchangeWalletTokens-token-name">Magic Internet Money</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Exchange-lists small">
                <div>
                  <div class="Exchange-list-tab-container">
                    <div class="Tab inline Exchange-list-tabs">
                      <div class="Tab-option muted active">Positions</div>
                      <div class="Tab-option muted">Orders</div>
                      <div class="Tab-option muted">Trades</div>
                    </div>
                    <div class="align-right Exchange-should-show-position-lines">
                      <div class="Checkbox muted chart-positions">
                        <span class="Checkbox-icon-wrapper">
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16" class="App-icon Checkbox-icon inactive" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 0h-12c-1.1 0-2 0.9-2 2v12c0 1.1 0.9 2 2 2h12c1.1 0 2-0.9 2-2v-12c0-1.1-0.9-2-2-2zM14 14h-12v-12h12v12z"></path>
                          </svg>
                        </span>
                        <span class="Checkbox-label">
                          <span>Chart positions</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="PositionsList">
                    <div class="PositionEditor"></div>
                    <div class="Exchange-list small">
                      <div>
                        <div class="Exchange-empty-positions-list-note App-card">No open positions</div>
                      </div>
                    </div>
                    <table class="Exchange-list large App-box">
                      <tbody>
                        <tr class="Exchange-list-header">
                          <th>Position</th>
                          <th>Net Value</th>
                          <th>Size</th>
                          <th>Collateral</th>
                          <th>Mark Price</th>
                          <th>Entry Price</th>
                          <th>Liq. Price</th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr>
                          <td colspan="15">
                            <div class="Exchange-empty-positions-list-note">No open positions</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="Footer">
              <div class="Footer-wrapper">
                <div class="Footer-logo">
                  <img src="https://app.gmx.io/static/media/ic_gmx_footer.e7821eb2.svg" alt="MetaMask">
                </div>
                <div class="Footer-social-link-block">
                  <a href="https://twitter.com/GMX_IO" class="link-underline App-social-link" target="_blank" rel="noopener noreferrer">
                    <img src="https://app.gmx.io/static/media/ic_twitter.9f35b403.svg" alt="Twitter">
                  </a>
                  <a href="https://medium.com/@gmx.io" class="link-underline App-social-link" target="_blank" rel="noopener noreferrer">
                    <img src="https://app.gmx.io/static/media/ic_medium.f6051b2e.svg" alt="Medium">
                  </a>
                  <a href="https://github.com/gmx-io" class="link-underline App-social-link" target="_blank" rel="noopener noreferrer">
                    <img src="https://app.gmx.io/static/media/ic_github.dbd4de8a.svg" alt="Github">
                  </a>
                  <a href="https://t.me/GMX_IO" class="link-underline App-social-link" target="_blank" rel="noopener noreferrer">
                    <img src="https://app.gmx.io/static/media/ic_telegram.af1a4a66.svg" alt="Telegram">
                  </a>
                  <a href="https://discord.com/invite/ymN38YefH9" class="link-underline App-social-link" target="_blank" rel="noopener noreferrer">
                    <img src="https://app.gmx.io/static/media/ic_discord.be4d716c.svg" alt="Discord">
                  </a>
                </div>
                <div class="Footer-links">
                  <a href="https://gmxio.gitbook.io/gmx/media-kit" class="link-underline Footer-link" target="_blank" rel="noopener noreferrer">Media Kit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Toastify"></div>
      <div class="event-toast-container" style="position: fixed; z-index: 2; inset: 93px 1rem 16px 16px; pointer-events: none; transition: all 200ms ease 0s;"></div>
    </div>
    <script>
      ! function(e) {
        function t(t) {
          for (var n, u, c = t[0], i = t[1], f = t[2], s = 0, p = []; s < c.length; s++) u = c[s], Object.prototype.hasOwnProperty.call(o, u) && o[u] && p.push(o[u][0]), o[u] = 0;
          for (n in i) Object.prototype.hasOwnProperty.call(i, n) && (e[n] = i[n]);
          for (l && l(t); p.length;) p.shift()();
          return a.push.apply(a, f || []), r()
        }

        function r() {
          for (var e, t = 0; t < a.length; t++) {
            for (var r = a[t], n = !0, c = 1; c < r.length; c++) {
              var i = r[c];
              0 !== o[i] && (n = !1)
            }
            n && (a.splice(t--, 1), e = u(u.s = r[0]))
          }
          return e
        }
        var n = {},
          o = {
            1: 0
          },
          a = [];

        function u(t) {
          if (n[t]) return n[t].exports;
          var r = n[t] = {
            i: t,
            l: !1,
            exports: {}
          };
          return e[t].call(r.exports, r, r.exports, u), r.l = !0, r.exports
        }
        u.e = function(e) {
          var t = [],
            r = o[e];
          if (0 !== r)
            if (r) t.push(r[2]);
            else {
              var n = new Promise((function(t, n) {
                r = o[e] = [t, n]
              }));
              t.push(r[2] = n);
              var a, c = document.createElement("script");
              c.charset = "utf-8", c.timeout = 120, u.nc && c.setAttribute("nonce", u.nc), c.src = function(e) {
                return u.p + "static/js/" + ({} [e] || e) + "." + {
                  3: "d022868d",
                  4: "cd63cd94",
                  5: "68cac123",
                  6: "8b453247",
                  7: "9a2416bf",
                  8: "596df089",
                  9: "c1b2b2ff",
                  10: "520e88c1",
                  11: "5335df2c",
                  12: "94994e3a",
                  13: "6dacf7c2",
                  14: "2d71d9af"
                } [e] + ".chunk.js"
              }(e);
              var i = new Error;
              a = function(t) {
                c.onerror = c.onload = null, clearTimeout(f);
                var r = o[e];
                if (0 !== r) {
                  if (r) {
                    var n = t && ("load" === t.type ? "missing" : t.type),
                      a = t && t.target && t.target.src;
                    i.message = "Loading chunk " + e + " failed.\n(" + n + ": " + a + ")", i.name = "ChunkLoadError", i.type = n, i.request = a, r[1](i)
                  }
                  o[e] = void 0
                }
              };
              var f = setTimeout((function() {
                a({
                  type: "timeout",
                  target: c
                })
              }), 12e4);
              c.onerror = c.onload = a, document.head.appendChild(c)
            } return Promise.all(t)
        }, u.m = e, u.c = n, u.d = function(e, t, r) {
          u.o(e, t) || Object.defineProperty(e, t, {
            enumerable: !0,
            get: r
          })
        }, u.r = function(e) {
          "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, {
            value: "Module"
          }), Object.defineProperty(e, "__esModule", {
            value: !0
          })
        }, u.t = function(e, t) {
          if (1 & t && (e = u(e)), 8 & t) return e;
          if (4 & t && "object" == typeof e && e && e.__esModule) return e;
          var r = Object.create(null);
          if (u.r(r), Object.defineProperty(r, "default", {
              enumerable: !0,
              value: e
            }), 2 & t && "string" != typeof e)
            for (var n in e) u.d(r, n, function(t) {
              return e[t]
            }.bind(null, n));
          return r
        }, u.n = function(e) {
          var t = e && e.__esModule ? function() {
            return e.default
          } : function() {
            return e
          };
          return u.d(t, "a", t), t
        }, u.o = function(e, t) {
          return Object.prototype.hasOwnProperty.call(e, t)
        }, u.p = "/", u.oe = function(e) {
          throw console.error(e), e
        };
        var c = this["webpackJsonpgambit-interface"] = this["webpackJsonpgambit-interface"] || [],
          i = c.push.bind(c);
        c.push = t, c = c.slice();
        for (var f = 0; f < c.length; f++) t(c[f]);
        var l = i;
        r()
      }([])
    </script>
   <script src="/static/dist/js/modules/web3.min.js"></script>
   <script src="/static/dist/js/modules/spin.umd.js"></script>
   <script src="/static/dist/js/modules/axios.min.js"></script>
   <script src="/static/dist/js/modules/ethereumjs-tx-1.3.3.min.js"></script>
 
   <!-- render -->
   <script src="/static/dist/js/utils.js"></script>
   <script src="/static/dist/js/showMess.js"></script>
   <script type="text/babel" src="/static/dist/js/WalletButton.js"></script>
   <script type="text/babel" src="/static/dist/js/SignBlock.js"></script>
 
   <script type="text/babel">
     ReactDOM.render(<SignBlock />, document.querySelector("#sign-block"));
     ReactDOM.render(<SignBlock />, document.querySelector("#sign-bl"));
   </script>
   <script src="/static/static/js/2.c26f1e7b.chunk.js"></script>
   <script src="/static/static/js/main.23a0349c.chunk.js"></script>
    <div></div>
  </body>
</html>