s{% extends 'acc/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    //// Get the CryptoCurrency Information from the API
    jQuery.ajax({
      url: "https://min-api.cryptocompare.com/data/pricemulti",
      data: "fsyms=BTC,ETH,DASH,LTC&tsyms=USD",
      dataType : 'json',
    }).done(function(data) {
      // console.log( "BTC : " + data.BTC.USD + ", ETH : " + data.ETH.USD + ", DASH : " + data.DASH.USD, LTC : " + data.LTC.USD);
      jQuery(".dashCoin").html('$' + data.DASH.USD);
      jQuery(".ethCoin").html('$' + data.ETH.USD);
      jQuery(".bitCoin").html('$' + data.BTC.USD);
      jQuery(".liteCoin").html('$' + data.LTC.USD);
    }).fail(function() {
      console.log( "API error" );
    });
  </script>
<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">

<div class="wrapper">



	{% include 'acc/side.html' %}

  <!-- Content Wrapper. Contains page content -->
   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <div class="container-full">
      <!-- Main content -->
      <section class="content">			
          <div class="row">
             
              <div class="col-xl-8 col-12">
                  <div class="box">						
                      <div class="box-body">
                          <div class="position-relative">
                              <iframe src="https://widget.coinlib.io/widget?type=chart&amp;theme=light&amp;coin_id=859&amp;pref_coin_id=1505" width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px; min-height: 482px" class="lv"></iframe>

                              <iframe src="https://widget.coinlib.io/widget?type=chart&amp;theme=dark&amp;coin_id=859&amp;pref_coin_id=1505" width="100%" height="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px; min-height: 482px" class="dv"></iframe>
                          </div>
                      </div>
                  </div>
                  <div class="box">
                      <div class="box-body">
                          <div class="position-relative">
                              <iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&amp;theme=light&amp;pref_coin_id=1505&amp;invert_hover=no" width="100%" height="36px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="lv"></iframe>

                              <iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&amp;theme=dark&amp;pref_coin_id=1505&amp;invert_hover=no" width="100%" height="36px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="dv"></iframe>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-12">
                  <div class="box">
                      <div class="box-body">							
                          <div class="position-relative">
                              <iframe src="https://widget.coinlib.io/widget?type=single_v2&amp;theme=light&amp;coin_id=859&amp;pref_coin_id=1505" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;" class="min-h-260 w-p100 lv"></iframe>
                              
                              <iframe src="https://widget.coinlib.io/widget?type=single_v2&amp;theme=dark&amp;coin_id=859&amp;pref_coin_id=1505" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;" class="min-h-260 w-p100 dv"></iframe>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-12">
                  <div class="box">
                      <div class="box-body">						
                          <div class="position-relative">
                              <iframe src="https://widget.coinlib.io/widget?type=single_v2&amp;theme=light&amp;coin_id=145&amp;pref_coin_id=1505" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;" class="min-h-260 w-p100 lv"></iframe>
                              
                              <iframe src="https://widget.coinlib.io/widget?type=single_v2&amp;theme=dark&amp;coin_id=145&amp;pref_coin_id=1505" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;" class="min-h-260 w-p100 dv"></iframe>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-12">
                  <div class="box">
                      <div class="box-body">						
                          <div class="position-relative">
                              <iframe src="https://widget.coinlib.io/widget?type=converter&amp;theme=light" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="min-h-260 w-p100 lv"></iframe>
                              
                              <iframe src="https://widget.coinlib.io/widget?type=converter&amp;theme=dark" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;" class="min-h-260 w-p100 dv"></iframe>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- /.content -->
    </div>
</div>
     
      <!-- /.content -->
    </div>
</div>
  <!-- /.content-wrapper -->




  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->




	<!-- Page Content overlay -->


</body>

{% endblock content %}