{% load static %}
<footer class="main-footer">
  <div class="pull-right d-none d-sm-inline-block">
      <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
    <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">FAQ</a>
    </li>

  </ul>
  </div>
  &copy; <script>document.write(new Date().getFullYear())</script>Superverse Themes. All Rights Reserved.
</footer>


	<!-- Vendor JS -->
	<script src="/static/js/vendors.min.js"></script>
	<script src="/static/js/pages/chat-popup.js"></script>
   <script src="/static/assets1/icons/feather-icons/feather.min.js"></script>
   <script src="/static/assets1/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
   <script src="/static/assets1/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
   <script src="/static/assets1/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
	<script src="/static/assets1/vendor_components/apexcharts-bundle/irregular-data-series.js"></script>
	<script src="/static/assets1/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>
	<script src="/static/www.amcharts.com/lib/4/core.js"></script>
	<script src="/static/www.amcharts.com/lib/4/charts.js"></script>
	<script src="/static/www.amcharts.com/lib/4/themes/animated.js"></script>
	<script src="/static/assets1/vendor_components/Web-Ticker-master/jquery.webticker.min.js"></script>
	<script src="/static/assets1/vendor_components/moment/min/moment.min.js"></script>
	<script src="/static/assets1/vendor_components/bootstrap-datepicker/dist//static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/assets1/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
  <script src="/ststic/assets1/vendor_components/c3/d3.min.js"></script>
  <script src="/ststic/assets1/vendor_components/c3/c3.min.js"></script>

	<!-- Specie Admin Admin App -->
	<script src="/static/js/demo.js"></script>
	<script src="/static/js/template.js"></script>
	<script src="/static/js/pages/dashboard.js"></script>
	<script src="//code.tidio.co/iuibkyucwnjczjaifzfkzlsfszguqgef.js" async></script>