{% extends 'acc/base.html' %}
{% load static %}
{% block content %}

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">

<div class="wrapper">



	{% include 'acc/side.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xl-8 col-12">
					<div class="row">
						<div class="col-lg-4 col-12">
							<div class="box">
								<div class="box-body">
									<div class="no-line-chart d-flex align-items-end justify-content-between">
										<div>
											<div class="top-icon d-flex align-items-center">
												<i class="cc ETH" title="ETH"></i>
												<i class="cc BTS" title="BTS"></i>
												<i class="cc MTR" title="MTR"></i>
											</div>
											<p class="mb-0">Account Balance</p>
											<p class="mb-0">{{user.accountbalance}} USD <span class="badge badge-sm badge-dot badge-success"></span></p>
										</div>
										<div id="balance1"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-12">
							<div class="box">
								<div class="box-body">
									<div class="no-line-chart d-flex align-items-end justify-content-between">
										<div>
											<div class="top-icon d-flex align-items-center">
												<i class="cc ETH" title="ETH"></i>
												<i class="cc BTS" title="BTS"></i>
												<i class="cc MTR" title="MTR"></i>
											</div>
											<p class="mb-0">Profit</p>
											<p class="mb-0">{{user.profit}} USD <span class="badge badge-sm badge-dot badge-success"></span></p>
										</div>
										<div id="balance1"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="box">
								<div class="box-body">
									<div class="no-line-chart d-flex align-items-end justify-content-between">
										<div>
											<div class="top-icon d-flex align-items-center">
												<i class="cc ETH" title="ETH"></i>
												<i class="cc BTS" title="BTS"></i>
												<i class="cc MTR" title="MTR"></i>
											</div>
											<p class="mb-0">Total Deposit</p>
											<p class="mb-0">{{user.total_deposit}} USD <span class="badge badge-sm badge-dot badge-success"></span></p>
										</div>
										<div id="balance1"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="box">
								<div class="box-body">
									<div class="no-line-chart d-flex align-items-end justify-content-between">
										<div>
											<div class="top-icon d-flex align-items-center">
												<i class="cc ETH" title="ETH"></i>
												<i class="cc BTS" title="BTS"></i>
												<i class="cc MTR" title="MTR"></i>
											</div>
											<p class="mb-0">Withdrawable Balance</p>
											<p class="mb-0">{{user.total_withdrawal}} USD <span class="badge badge-sm badge-dot badge-success"></span></p>
										</div>
										<div id="balance1"></div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="box">
							<div class="box-body bb-1 d-lg-block d-none bbsr-0 bber-0">
								<div class="d-flex justify-content-between align-items-center">
									<h3 class="my-0"><span class="text-primary">ETH</span> / <span class="text-info">BTC</span></h3>
									<div>								
										<h5 class="mb-0"><span class="me-5">Last:</span></h5><h5 class="text-primary mb-0">0.03242000</h5>
									</div>
									<div>
										<h5 class="mb-0"><span class="me-5">24High:</span></h5><h5 class="text-success mb-0">0.03301357</h5>
									</div>
									<div>
										<h5 class="mb-0"><span class="me-5">24Low:</span></h5><h5 class="text-danger mb-0">0.03089614</h5>
									</div>
									<div>
										<h5 class="mb-0"><span class="me-5">24V:</span></h5><h5 class="text-info mb-0">1001.66 BTC</h5>
									</div>
								</div>
							</div>
							<div class="box-body">
								<div id="bitcoin-stock" class="mb-15"></div>
							</div>
						</div>
						
						<div class="col">
							<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinPriceBlock.js"></script><div id="coinmarketcap-widget-coin-price-block" coins="3408,7186,8290,5426,10603" currency="USD" theme="dark" transparent="true" show-symbol-logo="true"></div>
						</div>
						
						
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="card profile_card">
								<div class="card-body">
									<!-- TradingView Widget BEGIN -->
	<div class="tradingview-widget-container">
		<div class="tradingview-widget-container__widget"></div>
		<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/SUPERUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">SUPERUSDT rates</span></a> by TradingView</div>
		<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
		{
		"symbol": "BINANCE:SUPERUSDT",
		"width": "100%",
		"height": "100%",
		"locale": "en",
		"dateRange": "12M",
		"colorTheme": "light",
		"trendLineColor": "rgba(41, 98, 255, 1)",
		"underLineColor": "rgba(41, 98, 255, 0.3)",
		"underLineBottomColor": "rgba(41, 98, 255, 0)",
		"isTransparent": true,
		"autosize": true,
		"largeChartUrl": ""
	  }
		</script>
	  </div>
	  <!-- TradingView Widget END -->
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="card profile_card">
								<div class="card-body">
								 <!-- TradingView Widget BEGIN -->
	<div class="tradingview-widget-container">
		<div class="tradingview-widget-container__widget"></div>
		<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/MATICUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">MATICUSDT rates</span></a> by TradingView</div>
		<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
		{
		"symbol": "BINANCE:MATICUSDT",
		"width": "100%",
		"height": "100%",
		"locale": "en",
		"dateRange": "12M",
		"colorTheme": "light",
		"trendLineColor": "rgba(41, 98, 255, 1)",
		"underLineColor": "rgba(41, 98, 255, 0.3)",
		"underLineBottomColor": "rgba(41, 98, 255, 0)",
		"isTransparent": true,
		"autosize": true,
		"largeChartUrl": ""
	  }
		</script>
	  </div>
	  <!-- TradingView Widget END -->
								</div>
							</div>
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="row">
							   
							  <!-- TradingView Widget BEGIN -->
	<div class="tradingview-widget-container">
		<div class="tradingview-widget-container__widget"></div>
		<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Crypto markets</span></a> by TradingView</div>
		<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
		{
		"width": 1000,
		"height": 490,
		"defaultColumn": "overview",
		"screener_type": "crypto_mkt",
		"displayCurrency": "USD",
		"colorTheme": "dark",
		"locale": "en"
	  }
		</script>
	  </div>
	  <!-- TradingView Widget END -->
							   
							</div>
						</div>
						
						
					</div>
				
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Transactions History</h4>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table class="table no-margin table-hover">
								  <thead>
									<tr>
									  <th>Transaction Hash</th>
									  <th>Amount</th>
									  <th>Time</th>
									  <th>Status</th>
									  <th>Loss/Profit</th>
									</tr>
								  </thead>
								  <tbody>
									{%  for i in tra %}
									<tr>
									  <td>
										<a href="#" class="text-warning hover-warning">
										  {{i.hash}}
										</a>

									  </td>
									  <td>{{i.amount}}</td>
									  <td>
										<time class="timeago" datetime="2018-02-01T13:38:01Z" title="2018-02-01 13:38 GMT">{{i.time}}</time>
									  </td>
									  <td>{{i.status}}</td>
									  {% if i.loss %}
									  <td><span class="label label-danger">Loss</span></td>
									  {%  else %}
									  <td><span class="label label-success">Confirmed</span></td>
									  {% endif %}
									</tr>
									{% endfor %}

								  </tbody>
								</table>
							</div>
						</div>
					  </div>

				

				</div>
				<div class="col-xl-4 col-12">
					<div class="box">
						<div class="box-header">
							<h4 class="box-title">
								Currency Converter Calculator
							</h4>
						</div>
						<div class="box-body pt-0">
							<script src="/static/cdn.jsdelivr.net/gh/coinponent/coinponent%401.2.6/dist/coinponent.js"></script>
							<coin-ponent dark-mode decimals="4"></coin-ponent>
						</div>
					</div>
					<!-- <div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Backest Conditions</h4>
						</div>
						<div class="box-body">
							<form class="dash-form">
								<div class="form-group">
								  <select class="form-select">
									<option>BTC/USD</option>
									<option>BTC/EURO</option>
									<option>BTC/GBP</option>
								  </select>
								</div>
								<div class="row form-group">
									<div class="col input-group date">
									  <div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									  </div>
									  <input type="text" class="form-control pull-right" id="datepicker">
									</div>
									<div class="col input-group date">
									  <div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									  </div>
									  <input type="text" class="form-control pull-right" id="datepicker2">
									</div>
								</div>
								<div class="form-group">
								  <select class="form-select">
									<option>Smin</option>
									<option>Dmin</option>
									<option>Jmin</option>
								  </select>
								</div>
								<div class="form-group">
								  <select class="form-select">
									<option>Competition 1</option>
									<option>Competition 2</option>
									<option>Competition 3</option>
								  </select>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
										  <label class="form-label">Exchange Fee (%):</label>
										  <input type="text" class="form-control" placeholder="0.025">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
										  <label class="form-label">Open Balance (USD):</label>
										  <input type="text" class="form-control" placeholder="10,000.00">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
										  <label class="form-label">Stop Loss (%):</label>
										  <input type="text" class="form-control">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
										  <label class="form-label">Take Profit (%):</label>
										  <input type="text" class="form-control">
										</div>
									</div>
								</div>
								<div class="d-flex justify-content-between">
									<button type="submit" class="btn btn-success">Submit</button>
									<button type="submit" class="btn btn-danger">Cancle</button>
								</div>
							</form>
						</div>
					</div> -->
					
				</div>
				
				<div class="col-12">
					<div class="box">
					  <div class="box-body">
						

						<script src="https://price-static.crypto.com/latest/public/static/widget/index.js"></script>
						<div
						  id="crypto-widget-CoinBlocks"
						  
						  data-theme="dark"
						  data-design="classic"
						  data-coin-ids="1120,3452,4911,275,2179,2805,1849"></div>
					  </div>
				  </div>
				</div>
				<div class="col-xl-7 col-lg-7">
					<div class="box">
					  <div class="box-header with-border">
						<h3 class="box-title">Personal details</h3>
					  </div>
					  <!-- /.box-header -->
					  <div class="box-body">
						<div class="row">
						  <div class="col-12">
							  <div class="form-group row">
								<label class="col-sm-2 col-form-label">Full Name</label>
								<div class="col-sm-10">
								  <input class="form-control" type="text" placeholder="{{user.fullname}}" readonly>
								</div>
							  </div>
							  <div class="form-group row">
								<label class="col-sm-2 col-form-label">Phone</label>
								<div class="col-sm-10">
								  <input class="form-control" type="text" placeholder="{{user.phone}}" readonly>
								</div>
							  </div>
							  <div class="form-group row">
								<label class="col-sm-2 col-form-label">Email Adress</label>
								<div class="col-sm-10">
								  <input class="form-control" type="email" placeholder="{{user.email}}" readonly>
								</div>
							  </div>
							  <div class="form-group row">
								<label class="col-sm-2 col-form-label">Country</label>
								<div class="col-sm-10">
								  <input class="form-control" type="tel" placeholder="{{user.country}}">
								</div>
							  </div>
							  <div class="form-group row">
								<label class="col-sm-2 col-form-label">Rank</label>
								<div class="col-sm-10">
									{% if user.pro %}
									<button class="btn btn-success">{{user.rank}}</button>
									{% else %}
									<button class="btn btn-warning">{{user.rank}}</button>
									{% endif %}
								</div>
							  </div>
						  </div>
						  <!-- /.col -->
						</div>
						<!-- /.row -->
					  </div>
					  <!-- /.box-body -->
					</div>
					<!-- /.box -->
					
					<!-- /.box -->
  
				  </div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->




  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->




	<!-- Page Content overlay -->


</body>
<script src="https://specie-admin-template.multipurposethemes.com/js/vendors.min.js"></script>
	<script src="https://specie-admin-template.multipurposethemes.com/js/pages/chat-popup.js"></script>
    <script src="https://specie-admin-template.multipurposethemes.com/assets/icons/feather-icons/feather.min.js"></script>	<script src="https://specie-admin-template.multipurposethemes.com/assets/vendor_components/c3/d3.min.js"></script>
    <script src="https://specie-admin-template.multipurposethemes.com/assets/vendor_components/c3/c3.min.js"></script>
	
	<!-- Specie Admin Admin App -->
	<script src="https://specie-admin-template.multipurposethemes.com/js/demo.js"></script>
	<script src="https://specie-admin-template.multipurposethemes.com/js/template.js"></script>
	
    <script src="https://specie-admin-template.multipurposethemes.com/js/pages/c3-line.js"></script>
    <script src="https://specie-admin-template.multipurposethemes.com/js/pages/c3-stap-line.js"></script>
    <script src="https://specie-admin-template.multipurposethemes.com/js/pages/c3-multi-xy-line.js"></script>
{% endblock content %}