s{% extends 'acc/base.html' %}
{% load static %}
{% block content %}
<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">

<div class="wrapper">



	{% include 'acc/side.html' %}

  <!-- Content Wrapper. Contains page content -->
   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">			
			<div class="row">
				<div class="col-12">
					<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinPriceBlock.js"></script><div id="coinmarketcap-widget-coin-price-block" coins="3408,7186,8290,5426,10603" currency="USD" theme="dark" transparent="true" show-symbol-logo="true"></div>			
				</div>
				
								
			
				
				<div class="col-xl-8 col-12">
					<div class="box">
						<!-- <ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-bs-toggle="tab" href="#limit" role="tab">Limit</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#market" role="tab">Market</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#stoplimit" role="tab">Stop-Limit</a>
							</li>
						</ul> -->
						<div class="box-body tab-content">
							<div class="tab-pane fade active show" id="limit">
								<div class="row">
									<div class="col-xl-6 col-12">
										<div class="d-flex justify-content-between mt-15">
										  <h4>Pin</h4>
										  <p class="mb-0">Balance: {{user.total_withdrawal}}</p>
										</div>
										<form class="dash-form" action="" method="post">
                      {% csrf_token %}
                      {% include 'messages.html' %}
										
											<div class="input-group mb-10">
												<span class="input-group-addon">Pin</span>
												<input type="password" class="form-control" placeholder="0000" name="pin">
											</div>
                                          
										
											<button type="submit" class="btn w-p100 btn-success mt-20">Submit</button>
										</form>							
									</div>
								
								</div>
							</div>
						
						</div>
					</div>	
				
				</div>
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Important Information</h4>
                        </div>
                        <div class="card-body">
                            <div class="important-info">
                                <ul>
                                    <li>
                                        <i class="mdi mdi-checkbox-blank-circle"></i>
                                        A Pin will be sent to you  For Further assistance on how to get your pin contact Admin
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
      </section>
      <!-- /.content -->
    </div>
</div>
  <!-- /.content-wrapper -->




  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->




	<!-- Page Content overlay -->


</body>

{% endblock content %}