s{% extends 'acc/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    //// Get the CryptoCurrency Information from the API
    jQuery.ajax({
      url: "https://min-api.cryptocompare.com/data/pricemulti",
      data: "fsyms=BTC,ETH,DASH,LTC&tsyms=USD",
      dataType : 'json',
    }).done(function(data) {
      // console.log( "BTC : " + data.BTC.USD + ", ETH : " + data.ETH.USD + ", DASH : " + data.DASH.USD, LTC : " + data.LTC.USD);
      jQuery(".dashCoin").html('$' + data.DASH.USD);
      jQuery(".ethCoin").html('$' + data.ETH.USD);
      jQuery(".bitCoin").html('$' + data.BTC.USD);
      jQuery(".liteCoin").html('$' + data.LTC.USD);
    }).fail(function() {
      console.log( "API error" );
    });
  </script>
<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">

<div class="wrapper">



	{% include 'acc/side.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container-full">
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div class="d-flex align-items-center">
              <div class="me-auto">
                  <h4 class="page-title">Crypto Summary</h4>
                  <div class="d-inline-block align-items-center">
                      <nav>
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                              <li class="breadcrumb-item" aria-current="page">Analyses</li>
                              <li class="breadcrumb-item active" aria-current="page">Crypto Summary</li>
                          </ol>
                      </nav>
                  </div>
              </div>
              
          </div>
      </div>
      <!-- Main content -->
      <section class="content">			
          <div class="row">		
            <div class="col-12">
              <div class="box">
                <div class="box-header with-border">
                  <h4 class="box-title">Daily Update</h4>
                </div>
                <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Crypto markets</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
  {
  "width": 1000,
  "height": 490,
  "defaultColumn": "overview",
  "screener_type": "crypto_mkt",
  "displayCurrency": "USD",
  "colorTheme": "dark",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
              </div>
              <!-- /.box -->
              
            </div>	
            {% for i in stake %}
            <form id="calculator" class="col-12 col-md-6 col-lg-4">
              <div class="box box-body pull-up">
                <div class="media align-items-center p-0">
                <div class="text-center">
                  <img src="{{i.image.url}}" width="40" alt="">
                </div>
                <div>
                  <div class="input-group">
                    <input type="number" id="investamt" value="100" class="form-control" placeholder="Amount">
                    <div class="input-group-append">
                        <span class="input-group-text">USD</span>
                    </div>
                </div>
                </div>
                </div>
                <div class="flexbox align-items-center mt-25">
                
                  <div class="col-md-4">
                    <h5 class="my-10">Duration</h5>
                    <select class="selectpicker"  id="investyr">
                    
                              <option value="1">10 Days</option>
                              <option value="2">20 Days</option>
                              <option value="3">60 Days</option>
                              <option value="4">4 Weeks</option>
                              <option value="5">5 Weeks</option>
                              <option value="6">6 Weeks</option>
                              <option value="7">7 Weeks</option>
                              <option value="8">8 Weeks</option>
                              <option value="9">9 Weeks</option>
                              <option value="10">10 Weeks</option>
                    </select>
                  </div> 
                
                <div class="text-end">
                  <p class="no-margin"><input class=" form-control text-success" id="intrate" type="hidden" value="{{i.rate}}" style="border: none; background-color:none;"></p>
                </div>
                </div>
              </div>	
              <button type="button" id="calculate" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-center">
  Stake
  </button>
  <div class="modal center-modal fade" id="modal-center" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Stake Returns</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
        <div id="investyield">
          <sup>$</sup><span id="yield">0.00</span>
          <small id="yieldamount">Future Stake Value</small>
          </div>
		  </div>
		  <div class="modal-footer modal-footer-uniform">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      <a href="{% url 'userurl:gain' i.id %}">	<button type="button" class="btn btn-primary float-end">Deposit</button></a>
		  </div>
		</div>
	  </div>
	</div>		
</form>  
          {% endfor %}           		
              <div class="col-lg-6 col-12">
                <div class="box">
                  <div class="box-header with-border">
                    <h4 class="box-title">Block Details</h4>
                  </div>
                  <div class="box-body">
                    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="8290" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
              <div class="col-lg-6 col-12">
                <div class="box">
                  <div class="box-header with-border">
                    <h4 class="box-title">Block Details</h4>
                  </div>
                  <div class="box-body">
                    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="3408" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
              <div class="col-lg-6 col-12">
                <div class="box">
                  <div class="box-header with-border">
                    <h4 class="box-title">Block Details</h4>
                  </div>
                  <div class="box-body">
                    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="1027" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
            
            </div>	
      </section>
      <!-- /.content -->
    </div>
</div>
  <!-- /.content-wrapper -->




  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->




	<!-- Page Content overlay -->


</body>
<script>
  //calculate Tip
function calculateInvestment() {
var investAmt = document.getElementById("investamt").value;
var investYr = document.getElementById("investyr").value;
var interestRate = document.getElementById("intrate").value;

//validate input
if (investAmt === "" || investYr == 0 || interestRate === "") {
  alert("Please enter values");
  return;
}

//check to see if this input is empty or less than or equal to 1
if (interestRate === "" || interestRate <= 1) {
  interestRate = 1;
  document.getElementById("yieldamount").style.display = "block";
} else {
  document.getElementById("yieldamount").style.display = "block";
}

//calculate tip
var total = [investAmt * (interestRate / 100) * investYr];

var grandTotal = parseFloat(total) + parseFloat(investAmt);

//round to two decimal places
grandTotal = Math.round(grandTotal * 100) / 100;

//next line allows us to always have two digits after decimal point
grandTotal = grandTotal.toFixed(2);

//display the tip
document.getElementById("investyield").style.display = "block";
document.getElementById("yield").innerHTML = grandTotal;
}

//hide the tip amount on load
document.getElementById("investyield").style.display = "none";
document.getElementById("yieldamount").style.display = "none";

//click to call function
document.getElementById("calculate").onclick = function() {
calculateInvestment();
};

</script>

{% endblock content %}