{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

<!--==================================================-->
<!-- Start breadcumb-area -->
<!--==================================================-->
<div class="breadcumb-area d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breacumb-content">
					<div class="breadcumb-title">
						<h1>About us</h1>
					</div>
					<div class="breadcumb-content-text">
						<a href=""><span>home</span> About us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start about-area -->
<!--==================================================-->
<div class="about-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="single-about-box">
					<div class="about-thumb bounce-animate">
						<img src="/static/assets/images/crypto-3.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="single-about-box">
					<div class="section-title">
						<div class="sub-title">
							<h3>about</h3>
						</div>
						<div class="main-title">
							<h1>Who are we?</h1>
						</div>
						<div class="section-text">
							<p>Established in 2022, Superverse.trade is world top 10 abitrage platform,It is a full-service digital asset exchange platform covering millions of users around the world.</p>
						</div>
					</div>
					<div class="about-tmb">
						<i class="fas fa-check"></i>
						<div class="about-titles">
							<h4>The company prides itself on providing industry-leading security in addition to having been audited to show 100% proof of reserves. Superverse.trade operates in most countries across the world, and is always committed to complying with the applicable laws where it operates.</h4>
						</div>
					</div>
					<div class="about-tmb">
						<i class="fas fa-check"></i>
						<div class="about-titles">
							<h4>Ranked among the top 10 arbitrage platforms</h4>
						</div>
					</div>
					<div class="about-tmb">
						<i class="fas fa-check"></i>
						<div class="about-titles">
							<h4>Uniquely Empower Parallel Total Talents</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start brand-area -->
<!--==================================================-->
 <div class="brand-area upper">
	<div class="container">
		<div class="row">
			<div class="owl-carousel brand_list">
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-1.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-2.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-3.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-4.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-1.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-2.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<!--==================================================-->
<!-- Start feature-area -->
<!--==================================================-->
<div class="feature-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="sections-title">
					<div class="sub-title">
						<h3>features</h3>
					</div>
					<div class="main-title">
						<h1>Why choose Superverse.trade</h1>
					</div>
					<div class="section-text">
						<p>In-depth layout of cutting-edge ecosystems, balanced output of multiple values that are relevant in the industry.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row bottom">
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="/static/assets/images/About_5.png" alt="">
					</div>
					<div class="feature-title">
						<h3>Speed Track</h3>
						<p>High-return and high-quality track known by the business world,the fast-rising cutting-edge financial technology field.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="/static/assets/images/icon.png" alt="">
					</div>
					<div class="feature-title">
						<h3>Top platform</h3>
						<p>One of the world's leading digital asset trading platforms, standing at the forefront of the digital asset market.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="/static/assets/images/About_6.png" alt="">
					</div>
					<div class="feature-title">
						<h3>Elite team</h3>
						<p>Diversified global team, flat management, open atmosphere and innovative partners.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start skill-area -->
<!--==================================================-->
<div class="skills-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="single-about-box">
					<div class="section-title">
						<div class="sub-title">
							<h3>skills</h3>
						</div>
						<div class="main-title">
							<h1>Global vision</h1>
						</div>
						<div class="section-text">
							<p>Focus on global development, build up a world-class digital asset service platform.</p>
							<p>Architectures. Interactively ini transparent functionalities via ROI. Quickly administrate extensive partners..</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="prossess-ber-plugin">
					<span class="prosses-bar">Cooperation</span>
					<div id="bar1" class="barfiller">
						<div class="tipWrap">
							<span class="tip"></span>
						</div>
						<span class="fill my-class" data-percentage="90"></span>
					</div>
					<span class="prosses-bar">support</span>
					<div id="bar2" class="barfiller">
						<div class="tipWrap">
							<span class="tip"></span>
						</div>
						<span class="fill my-class3" data-percentage="80"></span>
					</div>
					<span class="prosses-bar">Security</span>
					<div id="bar3" class="barfiller">
						<div class="tipWrap">
							<span class="tip"></span>
						</div>
						<span class="fill my-class3" data-percentage="85"></span>
					</div>
					<span class="prosses-bar">blockchain</span>
					<div id="bar4" class="barfiller">
						<div class="tipWrap">
							<span class="tip"></span>
						</div>
						<span class="fill my-class3" data-percentage="70"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start counter-area -->
<!--==================================================-->
<div class="counter-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-counter-box">
					<div class="counter-content">
						<div class="counter-title">
							<h1><span>$</span><span class="aa">38.98</span><span>M+</span></h1>
							<h5>Digital Products</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-counter-box">
					<div class="counter-content">
						<div class="counter-title">
							<h1><span class="aa">680</span><span>K+</span></h1>
							<h5>Happy Active Users</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-counter-box">
					<div class="counter-content">
						<div class="counter-title">
							<h1><span>$</span><span class="aa">380</span><span>M+</span></h1>
							<h5>Transections Done</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-counter-box">
					<div class="counter-content">
						<div class="counter-title">
							<h1><span class="aa">150</span><span>K+</span></h1>
							<h5>Community BTC</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->

<!--==================================================-->
<!-- Start footer-area -->
<!--==================================================-->




<script>
$(document).ready(function(){

$('.aa').counterUp({
    delay: 10,
    time: 1000
});


});
</script>

	<script>
		(function($) {
    $('.accordion > li:eq(0) a').addClass('active').next().slideDown();

    $('.accordion a').click(function(j) {
        var dropDown = $(this).closest('li').find('p');

        $(this).closest('.accordion').find('p').not(dropDown).slideUp();

        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).closest('.accordion').find('a.active').removeClass('active');
            $(this).addClass('active');
        }

        dropDown.stop(false, true).slideToggle();

        j.preventDefault();
    });
})(jQuery);
	</script>
	
</body>

{% endblock content %}