{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

<!-- ============================================================== -->
<!-- Start -slider-area -->
<!-- ============================================================= -->

<div id="particles">
    <div id="webcoderskull">
        <div class="slider-area d-flex align-items-center" id="home">
			<div class="container">
				<div class="row d-flex align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="single-slider-box">
							<div class="slider-content">
								<div class="slider-title">
									<h1>The Best Trading Cryptocurrency Resource</h1>
									<p>providing easy Access to the best arbitraging tools and services avaliable in the crypto space.</p>
								</div>
							</div>
							<div class="slider-button">
								<a href="{% url 'userurl:signup' %}">Get Started Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="single-sliders-box">
							<div class="slider-thumb">
								<img src="/static/assets/images/crypto-2.png" alt="">
								<div class="shaps_img rotateme">
									<img src="/static/assets/images/crypto.png" alt="">
								</div>
								<div class="seps_img bounce-animate">
									<img src="/static/assets/images/crypto-1.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<!--==================================================-->
<!-- Start brand-area -->
<!--==================================================-->
<div class="brand-area">
	<div class="container">
		<div class="row top">
			<div class="owl-carousel brand_list">
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-1.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-2.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-3.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-4.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-1.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-brand-box">
						<div class="brand-thumb">
							<img src="/static/assets/images/brand-2.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start about-area -->
<!--==================================================-->
<div class="about-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="single-about-box">
					<div class="about-thumb bounce-animate">
						<img src="/static/assets/images/crypto-3.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="single-about-box">
					<div class="section-title">
						<div class="sub-title">
							<h3>users</h3>
						</div>
						<div class="main-title">
							<h1>Our best users all over the World Coverages</h1>
						</div>
						<div class="section-text">
							<p>Superverse.trade protects your funds with both
								centralized and decentralized methods. It is also the first exchange to invest millions in security and law funds to add extra protection for your assets.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="about-tmb">
								<img src="/static/assets/images/about.png" alt="">
								<div class="about-titles">
									<h4>Create Account</h4>
								</div>
							</div>
							<div class="about-tmb">
								<img src="/static/assets/images/about.png" alt="">
								<div class="about-titles">
									<h4>Make Deposit</h4>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="about-tmb">
								<img src="/static/assets/images/about.png" alt="">
								<div class="about-titles">
									<h4>Complete Kyc</h4>
								</div>
							</div>
							<div class="about-tmb">
								<img src="/static/assets/images/about.png" alt="">
								<div class="about-titles">
									<h4>Start Trading</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="about-button">
						<a href="{% url 'userurl:signup' %}">learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<div class="testimonial-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="sections-title wow fadeInRight"data-wow-delay="0.5">
					<div class="main-title">
						<h3>Client Review</h3>
					</div>
					
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="owl-carousel testi_list">
				{% for i in rev %}
				<div class="col-lg-12">
					<div class="single-testimonial-box wow fadeInLeft"data-wow-delay="0.6">
						<div class="testimonial-thumb">
							<img src="{{i.image.url}}" width="40" alt="">
							<div class="testi-title">
								<h2>{{i.name}}</h2>
								
							</div>
						</div>
						<div class="testimonial-text">
							<p>{{i.body}}</p>
						</div>
						<div class="testimonial-icon mt-5">
							
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
</div>
<!-- Start feature-area -->
<!--==================================================-->
<div class="feature-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="sections-title">
					<div class="sub-title">
						<h3>features</h3>
					</div>
					<div class="main-title">
						<h1>We Take Care Quality</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="/static/assets/images/icons-img.png" alt="">
					</div>
					<div class="feature-title">
						<h3>Efficient trading and instant deposit/withdrawal</h3>
						<p>As an established exchange with cutting-edge technology, Superverse offers an efficient and convenient trading system as well as an instant deposit and withdrawal service.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="/static/assets/images/icon-2.png" alt="">
					</div>
					<div class="feature-title">
						<h3>Stable and reliable since 2022</h3>
						<p>For a year, superverse.trade has been operating stably and reliably. With our constant exploration of innovative technologies, we strive to offer you the best trading experience. </p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="/static/assets/images/ico-img.png" alt="">
					</div>
					<div class="feature-title">
						<h3>An exchange that lives up to your expectations</h3>
						<p>As one of the earliest and largest cryptocurrency exchanges, Superverse.trade always complies strictly with regulations and has never allowed for market manipulation. We are continuously committed to being open, transparent, and cooperative. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start data-table-area -->
<!--==================================================-->
<div class="data-table">
    <div class="container">
    	<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<div class="sub-title">
						<h3>market</h3>
					</div>
					<div class="main-title">
						<h1>Curent Market</h1>
					</div>
				</div>
			</div>
		</div>
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
	<div class="tradingview-widget-container__widget"></div>
	<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Crypto markets</span></a> by TradingView</div>
	<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
	{
	"width": "100%",
	"height": "1000",
	"defaultColumn": "overview",
	"screener_type": "crypto_mkt",
	"displayCurrency": "USD",
	"colorTheme": "dark",
	"locale": "en",
	"isTransparent": true
  }
	</script>
  </div>
  <!-- TradingView Widget END -->
            </div>
         
        </div>
    </div>
</div>
<!--==================================================-->
<!-- Start testimonial-area -->
<div class="testimonial-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="sections-title wow fadeInRight"data-wow-delay="0.5">
					<div class="main-title">
						<h3>Investment Packages</h3>
					</div>
					
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="owl-carousel testi_list">
				{% for i in inv %}
				<div class="col-lg-12">
					<div class="single-testimonial-box wow fadeInLeft"data-wow-delay="0.6">
						<div class="testimonial-thumb">
							<img src="/static/kul.jpg" width="40" alt="">
							<div class="testi-title">
								<h2>{{i.name}}</h2>
								<h4>${{i.maxdeposit}}</h4>
							</div>
						</div>
						<div class="testimonial-text">
							<ul>
								<li>Profit(%): {{i.profit}}</li>
								<li>Min-Duration: {{i.duration}} days</li>
								<li>Minimum Deposit(USD): {{i.mindeposit}}</li>
								<li>Max Deposit(USD): {{i.maxdeposit}}</li>
							</ul>
						</div>
						<div class="testimonial-icon mt-5">
							<div class="menu-button">
								<a href="{% url 'userurl:profile' %}">Invest</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start call-do-action-area -->
<!--==================================================-->
<div class="call-do-action-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="single-call-do-action-box">
					<div class="call-do-action-title">
						<h1>Explore the Next Crypto Ready to Selling</h1>
						<p>The company prides itself on providing industry-leading security in addition to having been audited to show 100% proof of reserves. Superverse.trade operates in most countries across the world, and is always committed to complying with the applicable laws where it operates.</p>
					</div>
					<div class="call-do-button">
						<a href="{% url 'userurl:signup' %}">Get Started Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="single-call-do-box">
					<div class="call-do-action-thumb">
						<img src="/static/assets/images/crypto-6.png" alt="">
						<div class="call-shap rotateme">
							<img src="/static/assets/images/crypto-4.png" alt="">
						</div>
						<div class="call-do-shap bounce-animate">
							<img src="/static/assets/images/crypto-5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start footer-area -->












	
</body>

{% endblock content %}