{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

<!--==================================================-->
<!-- Start breadcumb-area -->
<!--==================================================-->
<div class="breadcumb-area d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breacumb-content">
					<div class="breadcumb-title">
						<h1>services</h1>
					</div>
					<div class="breadcumb-content-text">
						<a href=""><span>home</span> services</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start cryptobit feature Area -->
<!--==================================================-->
<div class="feature-area style-four pt-100 pb-70 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="/static/assets/images/Services_1.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>NFT Development</h3>
                          
                            <div class="feature-button">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper1 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="/static/assets/images/Services_2.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Secure Payment</h3>

                            <div class="feature-button">
                                <a href="#">Read More</a>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="/static/assets/images/Services-1.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Universal Access</h3>
                           
                            <div class="feature-button">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="/static/assets/images/Services_1.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Universal Access</h3>
                          
                            <div class="feature-button">
                                <a href="{% url 'userurl:signup' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- Start call-do-actions-area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start pricing-area -->
<!--==================================================-->
<div class="testimonial-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="sections-title wow fadeInRight"data-wow-delay="0.5">
					<div class="main-title">
						<h3>Investment Packages</h3>
					</div>
					
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="owl-carousel testi_list">
				{% for i in inv %}
				<div class="col-lg-12">
					<div class="single-testimonial-box wow fadeInLeft"data-wow-delay="0.6">
						<div class="testimonial-thumb">
							<img src="/static/kul.jpg" width="40" alt="">
							<div class="testi-title">
								<h2>{{i.name}}</h2>
								<h4>${{i.maxdeposit}}</h4>
							</div>
						</div>
						<div class="testimonial-text">
							<ul>
								<li>Profit(%): {{i.profit}}</li>
								<li>Min-Duration: {{i.duration}} days</li>
								<li>Minimum Deposit(USD): {{i.mindeposit}}</li>
								<li>Max Deposit(USD): {{i.maxdeposit}}</li>
							</ul>
						</div>
						<div class="testimonial-icon mt-5">
							<div class="menu-button">
								<a href="{% url 'userurl:profile' %}">Invest</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start footer-area -->
<!--==================================================-->




<script>
$(document).ready(function(){

$('.aa').counterUp({
    delay: 10,
    time: 1000
});


});
</script>

	<script>
		(function($) {
    $('.accordion > li:eq(0) a').addClass('active').next().slideDown();

    $('.accordion a').click(function(j) {
        var dropDown = $(this).closest('li').find('p');

        $(this).closest('.accordion').find('p').not(dropDown).slideUp();

        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).closest('.accordion').find('a.active').removeClass('active');
            $(this).addClass('active');
        }

        dropDown.stop(false, true).slideToggle();

        j.preventDefault();
    });
})(jQuery);
	</script>
	
</body>

{% endblock content %}