{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

<!--==================================================-->
<!-- Start breadcumb-area -->
<!--==================================================-->
<div class="breadcumb-area d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breacumb-content">
					<div class="breadcumb-title">
						<h1>services</h1>
					</div>
					<div class="breadcumb-content-text">
						<a href="index.html"><span>home</span> services</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start cryptobit feature Area -->
<!--==================================================-->
<div class="feature-area style-four pt-100 pb-70 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="feature-single-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="/static/assets/images/Services_1.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>NFT Development</h3>
                            <p>Progressively predominate performance based sources before high standards in architectures.transparent functionalities via efficient ROI.extensive partnerships.</p>
                            <div class="feature-button">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper1 wow fadeInLeft" data-wow-delay=".4s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="/static/assets/images/Services_2.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Secure Payment</h3>
                            <p>Progressively predominate performance based sources before high standards in architectures.transparent functionalities via efficient ROI.extensive partnerships.</p>
                            <div class="feature-button">
                                <a href="#">Read More</a>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="/static/assets/images/Services-1.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Universal Access</h3>
                            <p>Progressively predominate performance based sources before high standards in architectures.transparent functionalities via efficient ROI.extensive partnerships.</p>
                            <div class="feature-button">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-single-box upper2 wow fadeInLeft" data-wow-delay=".5s">
                    <div class="feature-box-inner">
                        <div class="feature-icon1">
                            <img src="/static/assets/images/Services_1.png" alt="">
                        </div>
                        <div class="feature-title">
                            <h3>Universal Access</h3>
                            <p>Progressively predominate performance based sources before high standards in architectures.transparent functionalities via efficient ROI.extensive partnerships.</p>
                            <div class="feature-button">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- Start call-do-actions-area -->
<!--==================================================-->
<div class="call-do-actions-area pt-90 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="call-do-action-content">
                    <div class="calls-do-actions-title">
                        <h1>Looking for Crypto Expert?</h1>
                    </div>
                    <div class="call-do-action-text">
                        <p>Progressively predominate performance based internal organic currency <br> sources before high standards architectures.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="call-do-btn">
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- Start pricing-area -->
<!--==================================================-->
<div class="pricing-area pt-100 pb-70">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="section-title">
    				<div class="sub-title">
    					<h3>pricing</h3>
    				</div>
    				<div class="main-title">
    					<h1>Crypto Pricing Plan</h1>
    				</div>
    				<div class="section-text">
    					<p>Cryptocurrencies are used primarily outside existing banking and coin governmental institutions and are exchanged</p>
    				</div>
    			</div>
    		</div>
    	</div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 pt-left pl-0 pr-0">
                <div class="pricing-single-box">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>BASIC</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3>Powerful Design</h3>
                            <p>[Elementor Pro]</p>
                        </div>
                        <div class="pricing-items-center">
                            <span class="curencyp">$</span>
                            <span class="tk">5.68</span>
                            <span class="monthp"> / Project</span>
                        </div>
                    </div>
                    <div class="pricing-boody">
                        <div class="pricing-featur">
                            <ul>
                                <li><span><i class="fas fa-check"></i></span> Wordpress Installation</li>
                                <li><span><i class="fas fa-check"></i></span> Theme Upload & Customize</li>
                                <li><span><i class="fas fa-check"></i></span> Server Installation</li>
                                <li><span><i class="fas fa-check"></i></span> Dedicated Supports</li>
                                <li class="price-icon-text"><span class="price-icon-text"><i class="fi fi-rr-cross"></i></span> Lifetime Gurenty</li>
                            </ul>
                        </div>
                        <div class="pricing-button">
                            <a href="#">Purches Now</a>
                        </div>
                        <div class="pricing-hide"></div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 col-sm-12 pt-left pl-0 pr-0">
                <div class="pricing-single-box active">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>STANDARD</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3>Wallet Developed</h3>
                            <p>[Elementor Pro]</p>
                        </div>
                        <div class="pricing-items-center">
                            <span class="curencyp">$</span>
                            <span class="tk">9.83</span>
                            <span class="monthp"> / Project</span>
                        </div>
                    </div>
                    <!-- pricing boody -->
                    <div class="pricing-boody">
                        <div class="pricing-featur">
                            <ul>
                                <li><span><i class="fas fa-check"></i></span> Wordpress Installation</li>
                                <li><span><i class="fas fa-check"></i></span> Theme Upload & Customize</li>
                                <li><span><i class="fas fa-check"></i></span> Server Installation</li>
                                <li><span><i class="fas fa-check"></i></span> Dedicated Supports</li>
                                <li><span class="price-icon-text"><i class="fi fi-rr-cross"></i></span> Lifetime Gurenty</li>
                            </ul>
                        </div>
                        <div class="pricing-button">
                            <a href="#">Purches Now</a>
                        </div>
                        <div class="pricing-hide"></div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 col-sm-12 pt-left pl-0 pr-0">
                <div class="pricing-single-box">
                    <!-- pricing top -->
                    <div class="pricing-top-ber">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h3>PREMIUM</h3>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-items">
                        <div class="pricing-items-title">
                            <h3>Money Exchange</h3>
                            <p>[Elementor Pro]</p>
                        </div>
                        <div class="pricing-items-center">
                            <span class="curencyp">$</span>
                            <span class="tk">9.98</span>
                            <span class="monthp"> / Project</span>
                        </div>
                    </div>
                    <!-- pricing boody -->
                    <div class="pricing-boody">
                        <div class="pricing-featur">
                            <ul>
                                <li><span><i class="fas fa-check"></i></span> Wordpress Installation</li>
                                <li><span><i class="fas fa-check"></i></span> Theme Upload & Customize</li>
                                <li><span><i class="fas fa-check"></i></span> Server Installation</li>
                                <li><span><i class="fas fa-check"></i></span> Dedicated Supports</li>
                                <li class="price-icon-text"><span class="price-icon-text"><i class="fi fi-rr-cross"></i></span> Lifetime Gurenty</li>
                            </ul>
                        </div>
                        <div class="pricing-button">
                            <a href="#">Purches Now</a>
                        </div>
                        <div class="pricing-hide"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- Start footer-area -->
<!--==================================================-->




<script>
$(document).ready(function(){

$('.aa').counterUp({
    delay: 10,
    time: 1000
});


});
</script>

	<script>
		(function($) {
    $('.accordion > li:eq(0) a').addClass('active').next().slideDown();

    $('.accordion a').click(function(j) {
        var dropDown = $(this).closest('li').find('p');

        $(this).closest('.accordion').find('p').not(dropDown).slideUp();

        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).closest('.accordion').find('a.active').removeClass('active');
            $(this).addClass('active');
        }

        dropDown.stop(false, true).slideToggle();

        j.preventDefault();
    });
})(jQuery);
	</script>
	
</body>

{% endblock content %}