{% load static  %}
      
<!--==================================================-->
<div class="footer-area">
	<div class="container">
		<div class="row tops">
			<div class="col-lg-3 col-md-6">
				<div class="single-footer-box">
					<div class="footer-logo">
						<img src="/static/kul.jpg" width="100" alt="">
					</div>
					<div class="footer-content">
						<div class="footer-title">
							<p>Cryptocurrencies are used prim outside existing banking govern institutions hanged</p>
						</div>
						<div class="footer-icon">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-footer-box">
					<div class="footer-content">
						<div class="footer-title">
							<h2>Catagories</h2>
						</div>
						<div class="footer-ico">
							<ul>
								<li><a href="#"><span>What is ICO</span></a></li>
								<li><a href="#"><span>Tokens</span></a></li>
								<li><a href="#"><span>Road Map</span></a></li>
								<li><a href="#"><span>Advisor</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-footer-box">
					<div class="footer-content">
						<div class="footer-title">
							<h2>Useful Links</h2>
						</div>
						<div class="footer-ico">
							<ul>
								<li><a href="#"><span>Payment & TAX</span></a></li>
								<li><a href="#"><span>Terms of Services</span></a></li>
								<li><a href="#"><span>My Account</span></a></li>
								<li><a href="#"><span>Return Policy</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-footer-box">
					<div class="footer-content">
						<div class="footer-titles">
							<h2>Newsletter</h2>
							<p>Get now free 20% discount for all products on your first order</p>
						</div>
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<div class="form_box style-two">
										<input type="text" name="youe email address" placeholder="Enter E-mail">
										<button type="submit"><i class="far fa-paper-plane"></i></button>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer-bottom">
			<div class="col-lg-6 col-md-6">
				<div class="copy-left-box">
					<div class="copy-left-title">
						<h3>© Cryptobit all Rights Reserved. By  <span>Dream IT</span></h3>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="copy-right-box">
					<div class="copy-right-title">
						<ul>
							<li><a href="#"><span>Privacy Policy</span></a></li>
							<li><a href="#"><span>Terms & Condition</span></a></li>
						</ul>															
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
    <button class="close-search style-two"><i class="fa fa-times"></i></button>
    <button class="close-search"><i class="fas fa-arrow-up"></i></button>
    <form method="post" action="#">
        <div class="form-group">
            <input type="search" name="search-field" value="" placeholder="Search Here" required="">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>

<!-- scroll strat============  -->
<div class="scroll-area">
<div class="top-wrap">
    <div class="go-top-btn-wraper">
        <div class="go-top go-top-button">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </div>
    </div>
</div>
</div>
<!-- scroll end============  -->



<!-- jquery js -->	
<script src="/static/assets/js/vendor/jquery-3.2.1.min.js"></script>
<!-- bootstrap js -->	
<script src="/static/assets/js/bootstrap.min.js"></script>
<!-- carousel js -->
<script src="/static/assets/js/owl.carousel.min.js"></script>
<!-- counterup js -->
<script src="/static/assets/js/jquery.counterup.min.js"></script>
<!-- waypoints js -->

<!-- wow js -->
<script src="/static/assets/js/wow.js"></script>
<!-- imagesloaded js -->
<script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
<!-- venobox js -->
<script src="/static/venobox/venobox.js"></script>
<!-- ajax mail js -->
<script src="/static/assets/js/ajax-mail.js"></script>
<!--  animated-text js -->	
<script src="/static/assets/js/animated-text.js"></script>
<!-- venobox min js -->
<script src="/static/venobox/venobox.min.js"></script>
<!-- isotope js -->
<script src="/static/assets/js/isotope.pkgd.min.js"></script>
<!-- jquery nivo slider pack js -->
<script src="/static/assets/js/jquery.nivo.slider.pack.js"></script>
<!-- jquery meanmenu js -->	
<script src="/static/assets/js/jquery.meanmenu.js"></script>
<script src="/static/assets/js/popper.min.js"></script>
<!-- jquery scrollup js -->	
<script src="/static/assets/js/jquery.scrollUp.js"></script>
<!-- theme js -->	
<script src="/static/assets/js/theme.js"></script>
<!-- barfiller js -->
<script src="/static/assets/js/jquery.barfiller.js"></script>
<!-- particls js -->
<script src="/static/assets/js/particls.chart1.js"></script>

    <!-- jquery js -->
	<script src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Markets today</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "dark",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
	<script src="//code.tidio.co/iuibkyucwnjczjaifzfkzlsfszguqgef.js" async></script>
  </div>
  <!-- TradingView Widget END -->